---
import Layout from "../components/Layout.astro";
---

<Layout>
  <div class="bg-light d-flex align-items-center" style="height: 85vh;">
    <div class="container">
      <h2 class="mb-0">Astroooo</h2>
    </div>
  </div>
</Layout>
